<div class="main">
    <div class="head">
        <div class="head1">
           
            <p style="display: flex; align-items: center;justify-content: space-between; width: 100%; font-size: x-large;"> <span class="line"><hr></span>Register<span class="line"><hr></span></p>
            
        </div>
        <p>Create your account. It's free and only takes a minute</p>
    </div>

    <form class="form" action="">
        <div class="inputs">
            <div class="input" style="display: flex;justify-content: space-between;">
                <input type="text" name="firstname" id="firstname" placeholder="First Name">
                <input type="text" name="lastname" id="lastname" placeholder="Last Name">
            </div>
            <div class="input">
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="input">
                <input type="text" name="pwd" id="pwd" placeholder="Password">
            </div>
            <div class="input">
                <input type="text" name="pwdc" id="pwdc" placeholder="Confirm Password">
            </div>
        </div>
        <div class="confirm">
            <input type="checkbox" name="checkbox" id="chbx">
            <div class="accept">I accept the <span>Terms of Use</span> & <span>Privacy Policy</span></div>
        </div>
        <div class="sbt">
            <input type="button" value="Register Now">
        </div>
    </form>
    
</div>