<div class="main">
    <form class="form" action="">
        <div class="input">
            <label for="names">Your name: </label>
            <input type="text" name="names" id="names">
        </div>
        <div class="input">
            <label for="email">Email address: </label>
            <input type="email" name="email" id="email">
        </div>
        <div class="inputc">
            <label for="comment" class="cmtmsg">Where do you think we should improve? </label>
            <br>
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        </div>
        <input type="button" value="submit" class="btn">
        
    </form>
</div>
