<div class="nnav">
    <div class="logo">
        
        <img src="https://images.pexels.com/photos/17830902/pexels-photo-17830902/free-photo-of-grizzly-bear-lying-on-snow.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
    </div>
    <div class="tabs">
        <a href="/" class="nhome" >HOME</a>
        <a href="/dubai" class="ndubai" >DUBAI</a>
        <a href="/dsm" class="ndsm" >DARSLM</a>
        <a href="/enquiries" class="nenq" >ENQUIRIES</a>
        <a href="/login" class="nlogin"  >REGISTER</a>
    </div>
</div>
